Json/flows (1).json
[{"id":"b430297f.1dffc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9f2ef7d8.530558","type":"debug","z":"b430297f.1dffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1243.4286422729492,"y":116.5714340209961,"wires":[]},{"id":"2ba81dbe.6b96d2","type":"ui_form","z":"b430297f.1dffc8","name":"Input","label":"","group":"1e9ad80e.894398","order":1,"width":0,"height":0,"options":[{"label":"Gender","value":"Gender","type":"number","required":true,"rows":null},{"label":"Married","value":"Married","type":"number","required":true,"rows":null},{"label":"Dependents","value":"Dependents","type":"number","required":true,"rows":null},{"label":"Education","value":"Education","type":"number","required":true,"rows":null},{"label":"Self Employed","value":"Self_Employed","type":"number","required":true,"rows":null},{"label":"Applicant Income","value":"ApplicantIncome","type":"number","required":true,"rows":null},{"label":"Coapplicant Income","value":"CoapplicantIncome","type":"number","required":true,"rows":null},{"label":"Loan Amount","value":"LoanAmount","type":"number","required":true,"rows":null},{"label":"Loan Term","value":"Loan_Term","type":"number","required":true,"rows":null},{"label":"Credit History Available","value":"Credit_History_Available","type":"number","required":true,"rows":null},{"label":"Housing","value":"Housing","type":"number","required":true,"rows":null},{"label":"Locality","value":"Locality","type":"number","required":true,"rows":null}],"formValue":{"Gender":"","Married":"","Dependents":"","Education":"","Self_Employed":"","ApplicantIncome":"","CoapplicantIncome":"","LoanAmount":"","Loan_Term":"","Credit_History_Available":"","Housing":"","Locality":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"global","splitLayout":"","x":86.42863845825195,"y":304.428560256958,"wires":[["b474609f.3547a","3b59510.c8336b"]]},{"id":"aff83e37.4d23e","type":"ui_text","z":"b430297f.1dffc8","group":"1e9ad80e.894398","order":2,"width":0,"height":0,"name":"Output","label":"Fraud Risk","format":"{{msg.payload}}","layout":"row-spread","x":1221.8002624511719,"y":206.20001602172852,"wires":[]},{"id":"3b59510.c8336b","type":"debug","z":"b430297f.1dffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":255.51439666748047,"y":357.857159614563,"wires":[]},{"id":"dea2b2e5.fffd4","type":"inject","z":"b430297f.1dffc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80.37149047851562,"y":199.14286422729492,"wires":[["b474609f.3547a"]]},{"id":"25a271f2.44cece","type":"debug","z":"b430297f.1dffc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":625.9429702758789,"y":301.5714168548584,"wires":[]},{"id":"b474609f.3547a","type":"function","z":"b430297f.1dffc8","name":"Pre-token","func":"global.set(\"Gender\", msg.payload.Gender)\nglobal.set(\"Married\", msg.payload.Married)\nglobal.set(\"Dependents\", msg.payload.Dependents)\nglobal.set(\"Education\", msg.payload.Education)\nglobal.set(\"Self_Employed\", msg.payload.Self_Employed)\nglobal.set(\"ApplicantIncome\", msg.payload.ApplicantIncome)\nglobal.set(\"CoapplicantIncome\", msg.payload.CoapplicantIncome)\nglobal.set(\"LoanAmount\", msg.payload.LoanAmount)\nglobal.set(\"Loan_Term\", msg.payload.Loan_Term)\nglobal.set(\"Credit_History_Available\", msg.payload.Credit_History_Available)\nglobal.set(\"Housing\", msg.payload.Housing)\nglobal.set(\"Locality\", msg.payload.Locality)\n\nvar apikey = \"WZuMBzu2ZOiWxEpHRliuZ8krDg5tJs2fQ4OYBieezbnL\";\nmsg.headers = {\"content-type\": \"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\": \"urn:ibm:params:oauth:grant-type:apikey\", \"apikey\": apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":259.65723037719727,"y":253.34286308288574,"wires":[["28ad1973.cdd496"]]},{"id":"28ad1973.cdd496","type":"http request","z":"b430297f.1dffc8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":430.9429931640625,"y":253.1999740600586,"wires":[["65d43775.0a7df8","25a271f2.44cece"]]},{"id":"f74168d7.397d48","type":"function","z":"b430297f.1dffc8","name":"Parsing","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1040.9430084228516,"y":165.8571367263794,"wires":[["aff83e37.4d23e","9f2ef7d8.530558"]]},{"id":"65d43775.0a7df8","type":"function","z":"b430297f.1dffc8","name":"Pre-prediction","func":"var Gender = global.get(\"Gender\")\nvar Married = global.get(\"Married\")\nvar Dependents = global.get(\"Dependents\")\nvar Education = global.get(\"Education\")\nvar Self_Employed = global.get(\"Self_Employed\")\nvar ApplicantIncome = global.get(\"ApplicantIncome\")\nvar CoapplicantIncome = global.get(\"CoapplicantIncome\")\nvar LoanAmount = global.get(\"LoanAmount\")\nvar Loan_Term = global.get(\"Loan_Term\")\nvar Credit_History_Available = global.get(\"Credit_History_Available\")\nvar Housing = global.get(\"Housing\")\nvar Locality = global.get(\"Locality\")\n\nvar token = msg.payload.access_token\nvar instance_id = \"8c3fecba-c13d-4399-8b65-9e6dc300e5dc\"\nmsg.headers = {\"Content-type\": \"application/json\", \"Authorization\": \"Bearer\" + token, \"ML-Instance-ID\": instance_id} \nmsg.payload = {\"input_data\": [{\"fields\": [\"Gender\", \"Married\", \"Dependents\", \"Education\", \"Self_Employed\", \"ApplicantIncome\", \"CoapplicantIncome\", \"LoanAmount\", \"Loan_Term\", \"Credit_History_Available\", \"Housing\", \"Locality\"], \"values\": [[Gender, Married, Dependents, Education, Self_Employed, ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Term, Credit_History_Available, Housing, Locality]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":646.3716125488281,"y":211.28574562072754,"wires":[["a9a55a76.b6f3a8"]]},{"id":"a9a55a76.b6f3a8","type":"http request","z":"b430297f.1dffc8","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/9fe3561c-6084-4297-aee7-e840ddb66c06/predictions?version=2021-02-21","tls":"","persist":false,"proxy":"","authType":"","x":835.6572341918945,"y":210.8285779953003,"wires":[["f74168d7.397d48","32b001fe.4f65ce"]]},{"id":"32b001fe.4f65ce","type":"debug","z":"b430297f.1dffc8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1037.943016052246,"y":262.14290142059326,"wires":[]},{"id":"1e9ad80e.894398","type":"ui_group","name":"Credit Card Fraud Prediction","tab":"6a4d0f82.650a3","order":1,"disp":true,"width":"6","collapse":false},{"id":"6a4d0f82.650a3","type":"ui_tab","name":"Credit Card Fraud Prediction","icon":"dashboard","disabled":false,"hidden":false}]